.twod-manage-header-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.twod-manage-search-container{
    height: 40px;
    width: 280px;
    position: relative;
}

.twod-manage-search-container .twod-manage-search-icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #676974;
}

.twod-manage-search-container input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #D9D9D9;
    padding-left: 50px;
}

.twod-manage-numbers-parent-container{
    /* padding-top: 24px; */
    border-top: 2px solid #D9DEED;
    /* border-radius: 5px; */
    /* display: grid;
    grid-template-columns: 65% 35%; */
}

.twod-manage-labels-container{
    display: grid;
    grid-template-columns: 65% 35%;
}

.twod-manage-labels-container p{
    font-weight: 600;
}

.twod-manage-numbers-labels-left-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 30px;
}

.twod-manage-numbers-labels-left-container p:nth-child(1){
    margin-left: 10px;
}
.twod-manage-numbers-labels-left-container p:nth-child(2){
    margin-left: 80px;
}
.twod-manage-numbers-labels-left-container p:nth-child(3){
    margin-left: 100px;
}
.twod-manage-numbers-labels-left-container p:nth-child(4){
    margin-left: 130px;
}

.twod-manage-numbers-labels-right-container{
    display: flex;
    align-items: flex-end;
    /* margin-bottom: 10px; */
    /* border-left: 2px solid #D9D9D9; */
}

.twod-manage-numbers-labels-right-container p{
    margin-bottom: 10px;
}

.twod-manage-numbers-labels-right-container p:nth-child(1){
    margin-left: 80px;
}
.twod-manage-numbers-labels-right-container p:nth-child(2){
    margin-left: 170px;
}

.twod-manage-numbers-rows-container{
    height: 300px;
    overflow-y: scroll;
}

.twod-manage-numbers-row{
    /* display: flex; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 65% 35%;
    /* padding: 17px 0; */
    background-color: #E5E5E5;
}

.twod-manage-numbers-row:nth-child(2n){
    background-color: #F6F6F6;
}

.twod-manage-numbers-attributes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.twod-manage-numbers-attributes p:nth-child(1){
    width: 40px;
}
.twod-manage-numbers-attributes p:nth-child(2){
    width: 40px;
}
.twod-manage-numbers-attributes p:nth-child(3){
    width: 80px;
}
.twod-manage-numbers-attributes p:nth-child(4){
    width: 80px;
}

.twod-manage-numbers-inputs-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: 2px solid #D9D9D9;
}

.twod-manage-numbers-inputs-container input{
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.twod-manage-inserts-parent-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twod-manage-rate-insert-container{
    display: flex;
    align-items: center;
    height: 60px;
    width: 315px;
    padding-left: 20px;
    border: 2px solid #978C98;
    border-right: none;
    border-radius: 5px;
    justify-content: space-between;
    box-sizing: border-box;

}

.twod-manage-rate-insert-container input{
    width:90px;
    height: 30px;
    border: 2px solid #D9DEED;
    border-radius: 5px;
}

.twod-manage-rate-insert-container button{
    height: 60px;
    border: none;
    background-color: var(--primary-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* margin: 0; */
    padding: 0 30px;
    color: white;
    /* display: inline-block; */
}
.twod-manage-max-insert-container{
    display: flex;
    align-items: center;
    height: 60px;
    width: 380px;
    padding-left: 20px;
    border: 2px solid #978C98;
    border-right: none;
    border-radius: 5px;
    justify-content: space-between;
    box-sizing: border-box;

}

.twod-manage-max-insert-container input{
    width:90px;
    height: 30px;
    border: 2px solid #D9DEED;
    border-radius: 5px;
}

.twod-manage-max-insert-container button{
    height: 60px;
    border: none;
    background-color: var(--primary-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* margin: 0; */
    padding: 0 30px;
    color: white;
    /* display: inline-block; */
}

.twod-manage-inserts-btns-container button{
    height: 60px;
    padding: 0 20px;
    border-radius: 5px;
}

.twod-manage-confirm-btn{
    border: none;
    background-color: var(--primary-color);
    color: white;
}

.twod-manage-cancel-btn{
    height: 56px;
    border: 2px solid black;
    background-color: white;

}
