.referee-requests-parent-container{
    margin-top: 30px;
}

.referee-request-container{
    padding: 20px;
    border-top: 1px solid #D9D9D9;
    margin-top: 10px;
}

.referee-requests-labels-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.referee-requests-labels-container h2:nth-child(1){
    margin-left: 15px;
}
.referee-requests-labels-container h2:nth-child(2){
    margin-left: 80px;
}
.referee-requests-labels-container h2:nth-child(3){
    margin-left: 95px;
}
.referee-requests-labels-container h2:nth-child(4){
    margin-left: 90px;
}
/* .referee-requests-labels-container h2:nth-child(5){
    margin-left: 90px;
} */

.referee-request-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #F0F0F0;
}



.referee-request-row p:nth-child(1){
    width: 10px;
}
.referee-request-row p:nth-child(2){
    width: 90px;
}
.referee-request-row p:nth-child(3){
    width: 100px;
}
.referee-request-row p:nth-child(4){
    width: 400px;
}

.referee-request-row button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

.referee-request-accept-btn{
    background-color: #016B01;
}

.referee-request-decline-btn{
    background-color: #EA3A36;
}

.referee-request-row .fa-check{
    font-size: 16px;
    color: white;
    padding: 15px 17px;
    border-radius: 50%;
    background-color: #016B01;
    cursor: pointer;
}

.referee-request-row .fa-xmark{
    font-size: 16px;
    color: white;
    padding: 15px 18px;
    border-radius: 50%;
    background-color: #EA3A36;
    cursor: pointer;
}